{% extends "template.html" %}

{% block conteudo %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Música</th>
            <th>Cantor / Grupo / Banda</th>
            <th>Genêro</th>
        </tr>
    </thead>
    <tbody>
        {% for music in musicas %}
        <tr>
            <td>{{ music.name }}</td>
            <td>{{ music.author }}</td>
            <td>{{ music.genre_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
