{% extends "template.html" %}

{% block conteudo %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Música</th>
            <th>Cantor / Grupo / Banda</th>
            <th>Genêro</th>
        </tr>
    </thead>
    <tbody>
        {% for music in musicas %}
        <tr>
            <td>{{ music.nome }}</td>
            <td>{{ music.cantor }}</td>
            <td>{{ music.genero }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
